<nav class="footer">
  <div class="footer-icon" id="profile-button">
    <i class="bi bi-person-circle"></i>
    <span>Profile</span>
  </div>
  <div class="footer-icon" id="body-button">
    <i class="bi bi-book"></i>
    <span>Reading</span>
  </div>
  <div class="footer-icon" id="settings-button">
    <i class="bi bi-gear"></i>
    <span>Settings</span>
  </div>
</nav>

<style>
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    bottom: 0;
  }
  .footer-icon {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-icon span {
    font-size: 0.8rem;
    padding-top: 0px;
  }

  .footer-icon i {
    font-size: 2rem;
  }
  .footer-icon:hover {
    cursor: pointer;
  }

  .active {
    fill: #000;
    font-weight: bold;
  }
</style>

<script>
    import { isReadingActive } from '../utils/store.js';
    function openSettings() {
        isReadingActive.set(false);
    }
    function openBody() {
        isReadingActive.set(true);
    }
    function openProfile() {
        console.log("Here");
        window.location.href = "http://localhost:3000/my-profile";
    }
    document.getElementById("settings-button").addEventListener("click", openSettings);
    document.getElementById("body-button").addEventListener("click", openBody);
    document.getElementById("profile-button").addEventListener("click", openProfile);

    isReadingActive.subscribe(readingActive => {
        if (readingActive)
        {
            document.getElementById("body-button").style.color = "#50b8e7";
            document.getElementById("settings-button").style.color = "#000000";
        }
        else
        {
            document.getElementById("body-button").style.color = "#000000";
            document.getElementById("settings-button").style.color = "#50b8e7";
        }
    });
</script>
