---
import Grade from "./Grade.astro";
import Recommender from "./Recommender.astro";
import Stats from "./Stats.astro";
import QueryBox from "./QueryBox.astro";
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
---

<div class="container">
  <Navbar />

  <div class="extension-body">
    <Grade />
    <div class="dividerLine"></div>
    <Stats />
    <div class="dividerLine"></div>
    <Recommender />
  </div>

  <Footer />
</div>

<style>
  /**
   * TODO: Update fonts to design language
   */
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

  body {
    margin: 0;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
  }

  .container {
    height: 100vh;
    display: flex;
    flex-direction: column; /* Arrange items from top to bottom */
    justify-content: space-between;
    align-items: center;
    width: 400px;
    border: 1px black;
    background-color: #eee;
  }
  .extension-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 70vh;
    padding: 20px;
  }
  .dividerLine {
    border-top: 1px solid #9399a0; /* Equivalent to border-t border-gray-500 in Tailwind */
    margin-top: 1.25rem; /* Equivalent to my-5 in Tailwind, assuming default spacing */
    margin-bottom: 1.25rem; /* Equivalent to my-5 in Tailwind, assuming default spacing */
    height: 1px;
    width: 380px;
    background-color: #5f6772;
  }
</style>

<script>
  const icons = document.querySelectorAll(".icon");
  icons.forEach((icon) => {
    icon.addEventListener("click", () => {
      icons.forEach((i) => i.classList.remove("active"));
      icon.classList.add("active");
    });
  });
</script>
