<div class="recommend-container">
  <p class="recommend-header">Further Reading</p>
  <div class="article-picker">
    <div class="article-card">
      <p class="article-header">Sample news heading...</p>
      <p class="article-subheader">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>

    <div class="article-card">
      <p class="article-header">Sample news heading...</p>
      <p class="article-subheader">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>

    <div class="article-card">
      <p class="article-header">Sample news heading...</p>
      <p class="article-subheader">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
</div>

<style>
  @font-face {
    font-family: "Poligon";
    src: url("/fonts/Poligon Regular.otf") format("opentype");
  }

  @font-face {
    font-family: "Poligon-Bold";
    src: url("/fonts/Poligon Bold.otf") format("opentype");
  }

  @font-face {
    font-family: "Poligon-Light";
    src: url("/fonts/Poligon Light.otf") format("opentype");
  }

  @font-face {
    font-family: "Poligon-Medium";
    src: url("/fonts/Poligon Medium.otf") format("opentype");
  }

  .recommend-container {
    font-family: "Poligon-Light";
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .recommend-header {
    font-size: 1.5rem; /* Equivalent to text-6xl in Tailwind */
    font-weight: bold; /* Equivalent to font-bold in Tailwind */
    font-family: "Poligon-Bold";
    margin-top: 10px;
  }

  .article-picker {
    width: 100%;
    height: 250px;
    padding: 10px;
    border-color: #9399a0;
    border-width: 1px;
    border-style: solid;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .article-card {
    border-radius: 30px;
    width: 100%;
    border: 2px #5f6772 solid;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .article-card:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .article-header {
    font-size: 1rem; /* Equivalent to text-base in Tailwind */
    font-weight: bold; /* Equivalent to font-bold in Tailwind */
    max-lines: 1;
    text-overflow: ellipsis;
  }
  .article-subheader {
    font-size: 1rem; /* Equivalent to text-base in Tailwind */
    font-weight: normal; /* Equivalent to font-bold in Tailwind */
    max-lines: 3;
    text-overflow: ellipsis;
  }
</style>

<script>
  import { getLang } from "../scripts/internal/get-lang";
  import {
    getRecommendations,
    getSearchHistory,
  } from "../scripts/internal/recommender";

  getLang().then((language) => {
    let container = document.querySelector(".recommend-container");
    if (!container) return;
    // if (language === "en") {
    //   container.innerHTML = "";
    // }
  });

  const cardGenerator = document.querySelector(".generate-cards");
  if (cardGenerator) {
    cardGenerator.addEventListener("click", generateCards);
  }

  async function generateCards() {
    try {
      const searchHistory = await getSearchHistory();
      console.log(searchHistory);
      const articles = await getRecommendations(searchHistory);
      const cards = document.querySelector(".cards");
      if (cards) {
        cards.innerHTML = articles
          .map((article) => {
            // TODO: Clicking on the link should redirect the whole tab, not the iframe
            return `
          <a href=${article.url} class="card">
            <div class="card-content">
              <h3>${article.summary}</h3>
              <p>${article.score}</p>
            </div>
          </a>
        `;
          })
          .join("\n");
      }
    } catch (err) {
      console.error(err);
      // TODO: Settle error
    }
  }
</script>
