<div class="stats-container">
  <div class="title"><h1>Page Stats</h1></div>
</div>

<script>
  import { getLang } from "../scripts/internal/get-lang";
  getLang().then((language) => {
    let container = document.querySelector(".stats-container");
    if (!container) return;
    if (language !== "en") {
      container.innerHTML = "";
    }
  });
</script>
